// about us

.about-us {
    p {
        text-align: justify;
        margin: 20px 0;
    }
    .picture {
        text-align: center;
    }
    img {
        width: auto;
        max-height: 500px;
    }
}