// contact us

.contact-us {
    text-align: center;
    z-index: 1;
    background: url('../images/software.png');
    background-size: cover;
    background-position: center;
    padding: 80px 0 160px 0;
    .section-description {
        margin-bottom: 50px;
    }
    .theme-button {
        margin: 20px;
        &:hover {
            color: $themeColour;
        }
    }
    .col {
        padding-top: 20px;
    }
    .write {
        padding-bottom: 20px;
        h2, h4 {
            font-weight: bold;
        }
    }
    .localization {
        padding-top: 30px;
        p {
            font-size: 0.8em;
        }
        h4 {
            font-size: 1em;
        }
    }
}